.containerCreate{
    /*background-color: aliceblue;*/
    background-image: url("https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/others_3/SI_Pokemon.jpg");
    color: rgb(0, 3, 98);
    font-weight: bold;
}
.containerCreate label{
    background-color: aliceblue;
    color: rgb(0, 3, 98);
    border-radius: 1em;
    margin: 10px;
}
.containerCreate span{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 1em;

}
.containerCreate button {
    width: 140px;
        background-color: #6d78c8cd;
        color: #fbd500; /* Cambia #ff0000 por el color que desees utilizar */
        font-family: "Pokemon Font", sans-serif; /* Cambia "Pokemon Font" por la fuente que desees utilizar */
        font-size: 15px; /* Ajusta el tamaño de fuente según tus preferencias */
        font-weight: bold;
        text-shadow:10px solid blue;
        padding: 0.4rem 1rem;
        border: 2px solid grey;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.4);
        position: relative;
        margin: 10px ;
        transition: all 0.2s ease-in-out;

}

.containerCreate button:hover {
 
    background-color: #fbd500;
    color: #6d78c8cd;
  }
